.restaurant {
  background-color: #f7f7f7;
  padding: 2em 0 2em 0;
  position: relative;
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 768px) {
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
    border-radius: 2em 2em 2em 2em;
    margin-bottom: 50px;
    -webkit-column-gap: 2em;
            column-gap: 2em;
    row-gap: 1em;
  }
}

@media all and (min-width: 1024px) {
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1024px;
    border-radius: 2em 2em 2em 2em;
    margin-bottom: 50px;
    -webkit-column-gap: 2em;
            column-gap: 2em;
    row-gap: 1em;
  }
}

.title-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin-left: 1em;
}

@media all and (min-width: 1024px) {
  .title-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    height: 50px;
    width: 60%;
    margin-right: 40px;
  }
  .title-restaurant .title-restaurant::after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #99E2D0;
    width: 47px;
    height: 3px;
    margin-top: 20px;
  }
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 23%;
  height: 25px;
  font-weight: bold;
  font-size: 13px;
  color: #347766;
  margin: 0.9em 1em 0 18em;
  border-radius: 3px;
  position: absolute;
}

@media all and (min-width: 1024px) {
  .new {
    margin: 1.5em 1em 0 23em;
    width: 20%;
    height: 28px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  width: 330px;
  height: 12em;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  text-decoration: none;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 1.5em;
}

@media all and (min-width: 1024px) {
  .container {
    width: 400px;
    height: 230px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    margin: 0.8em 0.8em 2em 0.8;
  }
  .container:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    background-position: right center;
    -webkit-box-shadow: rgba(50, 50, 93, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-decoration: none;
    opacity: 0.9;
  }
}

.container .container-img {
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .container-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 5px;
  padding-top: 0.2em;
}

.container .container-description .description {
  color: black;
  width: 79%;
  margin-left: 1em;
}

.container .container-description .description .p1 {
  text-align: justify;
}

.container .container-description .description .p2 {
  text-align: justify;
}

.heart-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.heart-group .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: white;
}

.heart-group .heart:hover + .heart2 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

.heart-group .heart:hover {
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

.heart-group .heart2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50%;
  font-size: 23px;
  position: relative;
  background: linear-gradient(353deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
  padding-left: 2px;
}

.tutorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  row-gap: 1em;
  padding-bottom: 70px;
  background-color: white;
}

@media all and (min-width: 1024px) {
  .tutorial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1024px;
  }
}

.title-tutorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin-top: 2em;
}

@media all and (min-width: 1024px) {
  .title-tutorial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    height: 50px;
    width: 60%;
  }
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border-radius: 1em;
  width: 80%;
  height: 3.5em;
  padding: 0.3em;
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.step .number-tuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: white;
  position: relative;
  right: 1em;
  font-size: 12px;
}

.step .icon {
  margin: 0 2em 0 0;
  color: #a7a7a7;
}

.step3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5edff;
  border-radius: 1em;
  width: 80%;
  height: 3.5em;
  padding: 0.3em;
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.step3 .number-tuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: white;
  position: relative;
  right: 1em;
  font-size: 12px;
}

.step3 .icon3 {
  margin: 0 2em 0 0;
  color: #9356DC;
}

body {
  font-weight: 300;
}

.arrow {
  font-size: 22px;
  color: black;
  position: absolute;
  left: 15px;
  top: 15px;
}

.bg-img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 768px) {
  .bg-img {
    width: 600px;
    height: 300px;
  }
}

@media all and (min-width: 1024px) {
  .bg-img {
    width: 1024px;
    height: 450px;
  }
}

.menu-container {
  background-color: #f7f7f7;
  position: relative;
  bottom: 50px;
  border-radius: 30px 30px 0 0;
  width: 100%;
}

@media all and (min-width: 768px) {
  .menu-container {
    width: 600px;
    border-radius: 30px;
    padding-bottom: 50px;
  }
}

@media all and (min-width: 1024px) {
  .menu-container {
    width: 1024px;
    border-radius: 30px;
    padding-bottom: 50px;
  }
}

.menu-container .title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media all and (min-width: 768px) {
  .menu-container .title-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 1024px) {
  .menu-container .title-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-container .title-group h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  font-weight: 400;
  width: 265px;
}

.menu-container .menu-group {
  margin-left: 20px;
  margin-bottom: 50px;
}

@media all and (min-width: 768px) {
  .menu-container .menu-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 1024px) {
  .menu-container .menu-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-container .menu-group .menu-group-title {
  font-weight: 400;
  font-size: 18px;
}

@media all and (min-width: 768px) {
  .menu-container .menu-group .menu-group-title {
    margin-right: auto;
    margin-left: 50px;
  }
}

@media all and (min-width: 1024px) {
  .menu-container .menu-group .menu-group-title {
    margin-right: auto;
    margin-left: 80px;
  }
}

.menu-container .menu-group .menu-group-title::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 47px;
  height: 3px;
  margin-top: 10px;
}

.menu-container .menu-group .menu .dish {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 1em;
  width: 95%;
  height: 70px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1em;
  -webkit-animation: moove 250ms linear both;
          animation: moove 250ms linear both;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu-container .menu-group .menu .dish:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu-container .menu-group .menu .dish:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu-container .menu-group .menu .dish:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu-container .menu-group .menu .dish:nth-child(4) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

@-webkit-keyframes moove {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moove {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.menu-container .menu-group .menu .dish:hover > .dish-valid {
  width: 60px;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

.menu-container .menu-group .menu .dish:hover > .dish-valid > .valid {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

.menu-container .menu-group .menu .dish:hover > .dish-description {
  width: 210px;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

@media all and (min-width: 1024px) {
  .menu-container .menu-group .menu .dish:hover > .dish-description {
    width: 500px;
  }
}

@media all and (min-width: 768px) {
  .menu-container .menu-group .menu .dish {
    width: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 1024px) {
  .menu-container .menu-group .menu .dish {
    width: 850px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-container .menu-group .menu .dish .dish-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  width: 270px;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

@media all and (min-width: 1024px) {
  .menu-container .menu-group .menu .dish .dish-description {
    width: 500px;
  }
}

.menu-container .menu-group .menu .dish .dish-description .dish-name {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-container .menu-group .menu .dish .dish-description .dish-ingredients {
  margin: 0;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-container .menu-group .menu .dish .dish-price {
  margin: 20px 15px 0 auto;
}

.menu-container .menu-group .menu .dish .dish-valid {
  width: 0;
  height: 70px;
  padding: 0;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
  background-color: #99E2D0;
}

.menu-container .menu-group .menu .dish .dish-valid .valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  font-size: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

.menu-container .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.menu-container .order .btn-order {
  border-radius: 5em;
  border: 0;
  width: 215px;
  height: 55px;
  padding: 15px 9px;
  color: white;
  font-size: 16px;
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 100%);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.menu-container .order .btn-order:hover {
  background-position: right center;
  -webkit-box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-decoration: none;
  opacity: 0.8;
}

* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  width: 100%;
}

@media all and (min-width: 768px) {
  main {
    background-color: white;
    width: inherit;
  }
}

@media all and (min-width: 1024px) {
  main {
    background-color: white;
    width: inherit;
  }
}

.loading-container {
  background-color: white;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: loader 1.5s linear;
          animation: loader 1.5s linear;
  opacity: 0;
}

.loading-container .loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-container .loading-spinner::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #99E2D0 transparent #9356DC transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0.8;
    z-index: 999;
  }
  80% {
    opacity: 0.8;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: 999;
  }
}

@keyframes loader {
  0% {
    opacity: 0.8;
    z-index: 999;
  }
  80% {
    opacity: 0.8;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: 999;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 15px 0 10px 0;
  position: relative;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media all and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
  }
}

@media all and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1024px;
  }
}

header .img-logo {
  width: 150px;
  cursor: pointer;
}

.nav-location {
  background-color: #ebebeb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .nav-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
  }
}

@media all and (min-width: 1024px) {
  .nav-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1024px;
  }
}

.nav-location .location-icon {
  padding-right: 0.5em;
}

.explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
  width: 100%;
  padding-bottom: 30px;
}

@media all and (min-width: 768px) {
  .explorer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
    border-radius: 0 0 2em 2em;
  }
}

@media all and (min-width: 1024px) {
  .explorer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1024px;
    border-radius: 0 0 2em 2em;
  }
}

.explorer .contain-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 77%;
  padding: 1em;
}

.explorer .contain-explorer h2 {
  margin: 0.5em;
}

.explorer .contain-explorer h2,
.explorer .contain-explorer p {
  text-align: center;
  margin: 0.5em;
}

.explorer .contain-explorer .btn-explorer {
  border-radius: 5em;
  border: 0;
  width: 215px;
  height: 55px;
  padding: 15px 9px;
  margin-top: 2em;
  color: white;
  font-size: 16px;
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 100%);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.explorer .contain-explorer .btn-explorer:hover {
  background-position: right center;
  -webkit-box-shadow: rgba(50, 50, 93, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-decoration: none;
  opacity: 0.9;
}

.footer {
  background-color: #252525;
  padding: 2em 0 2em 0px;
  width: 100%;
}

@media all and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
    border-radius: 2em 2em 0 0;
    padding: inherit;
    position: relative;
    height: 120px;
  }
}

@media all and (min-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1024px;
    border-radius: 2em 2em 0 0;
    position: relative;
    height: 130px;
  }
}

.footer .footer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px;
}

@media all and (min-width: 768px) {
  .footer .footer-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 768px;
    padding-left: 15px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 980px;
  }
}

.footer .footer-group .footer-logo {
  width: 50%;
  height: 25px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  padding: 0;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-logo {
    width: 160px;
    height: 30px;
    padding-bottom: 6px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-logo {
    width: 200px;
    margin-left: 20px;
  }
}

.footer .footer-group .footer-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer-group .footer-link .link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link .link1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    width: 198px;
    margin-left: 5px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link .link1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    width: 220px;
    margin-left: 10px;
  }
}

.footer .footer-group .footer-link .link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link .link2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    width: 160px;
    margin-left: 5px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link .link2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    width: 220px;
    margin-left: 10px;
  }
}

.footer .footer-group .footer-link .link3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 300px;
  line-height: 5px;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link .link3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 130px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link .link3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit;
  }
}

.footer .footer-group .footer-link .link4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 100%;
  line-height: 50px;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link .link4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    padding-top: 1px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link .link4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit;
  }
}

.footer .footer-group .footer-link .icon-footer {
  color: white;
  position: relative;
  margin-right: 10px;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link .icon-footer {
    padding: inherit;
    margin-right: inherit;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link .icon-footer {
    padding: inherit;
    margin-right: inherit;
  }
}

.footer .footer-group .footer-link #cutlery {
  margin-left: 0.4em;
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link #cutlery {
    display: inline;
    margin-left: inherit;
    margin-right: 10px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link #cutlery {
    display: inline;
    margin-left: inherit;
    margin-right: 20px;
  }
}

@media all and (min-width: 768px) {
  .footer .footer-group .footer-link .mentions {
    width: 130px;
    font-size: 16px;
  }
}

@media all and (min-width: 1024px) {
  .footer .footer-group .footer-link .mentions {
    margin-right: 60px;
  }
}
/*# sourceMappingURL=style.css.map */