.restaurant{
    background-color: $light-gray;
    padding: 2em 0 2em 0;
    position:relative ;
}

.title-restaurant{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-left: 1em;
}
.new{
    display: flex;
    @include row ;
    justify-content: center;
    align-items: center;
    background-color: $mint;
    width: 23%;
    height: 25px;
    font-weight: bold;
    font-size: 13px;
    color: #347766;
    margin: 0.9em 1em 0 18em ;
    border-radius: 3px;
    position:absolute;
}
.container {
    @include column;
    background-color: $light-gray;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    width: 85%;
    height: 12em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1);
    transition: 0.1s ease-in-out;
    text-decoration: none;
    text-align: center;
    margin: 0 0 2em 1.5em;
    padding-bottom: 1.5em;

    .container-img {
        align-content: center;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 80%;
        object-fit: cover;

    }
    .container-description {
        @include row;
         line-height: 5px;
         padding-top: 0.2em;
        .description {
            color: black;
            width: 79%;
            margin-left: 1em;
            .p1{
                text-align: justify;
            }
            .p2{
                text-align: justify;
            }
        }
        .heart {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 2em;
            width: 5%;
            font-size: 25px;
            padding: 5px 9px;
           
            &:hover{
                background: linear-gradient(353deg, $purple, $pink);
                font-weight: bold;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }





    }
}