body {
    font-weight: 300;
}

.arrow {
    font-size: 22px;
    color: black;
    position: absolute;
    left: 15px;
    top: 15px;
}

.bg-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    @include desktop {
        width: 1024px;
        height: 450px;
    }
}

.menu-container {
    background-color: $light-gray;
    position: relative;
    bottom: 50px;
    border-radius: 30px 30px 0 0;
    @include desktop {
        width: 1024px;
        border-radius: 30px;
        padding-bottom: 50px;
    }

    .title-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 30px;
        @include desktop {
            justify-content: center;
        }
        h1 {
            font-family: "Shrikhand", cursive;
            font-size: 27px;
            font-weight: 400;
            width: 265px;
        }
    }
    .menu-group {
        margin-left: 20px;
        margin-bottom: 50px;
        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .menu-group-title {
            font-weight: 400;
            font-size: 18px;
            @include desktop {
                margin-right: auto;
                margin-left: 80px;
            }
        }
        .menu-group-title::after {
            content: "";
            display: block;
            background-color: $mint;
            width: 47px;
            height: 3px;
            margin-top: 10px;
        }
        .menu {
            .dish {
                background-color: #fff;
                display: flex;
                flex-direction: row;
                border-radius: 1em;
                width: 335px;
                height: 70px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                overflow: hidden;
                cursor: pointer;
                margin-bottom: 1em;
                animation: moove 250ms linear both;
                animation-delay: 300ms;
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        animation-delay: $i * 200ms;
                    }
                }
                @keyframes moove {
                    0% {
                        transform: translateY(15px);
                        opacity: 0;
                    }

                    100% {
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }

                &:hover > .dish-valid {
                    width: 60px;
                    transition: 450ms ease-in-out;
                }
                &:hover > .dish-valid > .valid {
                    transform: rotate(360deg);
                    transition: 450ms ease-in-out;
                }
                &:hover > .dish-description {
                    width: 210px;
                    transition: 450ms ease-in-out;
                    @include desktop {
                        width: 500px;
                    }
                }
                @include desktop {
                    width: 850px;
                    justify-content: center;
                }
                .dish-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 10px;
                    width: 270px;
                    transition: 450ms ease-in-out;
                    @include desktop {
                        width: 500px;
                    }
                    .dish-name {
                        margin: 0;
                        font-size: 18px;
                        white-space: nowrap; // pour empécher le retour à la ligne
                        text-overflow: ellipsis; // ... pour laisser la place à valid
                        overflow: hidden; // pour cacher ce qui est hors du container
                    }
                    .dish-ingredients {
                        margin: 0;
                        font-size: 15px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .dish-price {
                    margin: 20px 15px 0 auto;
                }
                .dish-valid {
                    width: 0;
                    height: 70px;
                    padding: 0;
                    transition: 450ms ease-in-out;
                    background-color: $mint;
                    .valid {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: white;
                        position: relative;
                        font-size: 20px;
                        transform: rotate(0deg);
                        transition: 450ms ease-in-out;
                    }
                }
            }
        }
    }
    .order {
        display: flex;
        justify-content: center;

        .btn-order {
            border-radius: 5em;
            border: 0;
            width: 215px;
            height: 55px;
            padding: 15px 9px;
            color: white;
            font-size: 16px;
            background: rgb(147, 86, 220);
            background: linear-gradient(353deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            text-align: center;
            transition: 0.5s;
            display: block;
            &:hover {
                background-position: right center;
                box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                text-decoration: none;
                opacity: 0.8;
            }
        }
    }
}
