@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}



@mixin tablet {
    @media all  and (min-width:  768px){
        @content
    }
};
@mixin desktop {
    @media all  and (min-width:  1024px){
        @content
    }
};