// IMPORT
@import 'variable';
@import 'mixins';
@import 'cards';
@import 'tutorial';
@import 'steps';

* {
    font-family: Roboto, sans-serif;
}

// Header

body {
    margin: 0;
    padding: 0;
  
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .img-logo {
        width: 150px;
        cursor: pointer;
    }
}

// NAV

.nav-location {
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    .location-icon {
        padding-right: 0.5em;
    }
}

// Section explorer

.explorer {
    display: flex;
    justify-content: center;
    background-color: $light-gray;
    width: 100%;
    padding-bottom: 50px;
    .contain-explorer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;

        h1,
        p {
            text-align: center;
        }
        .btn-explorer {
            border-radius: 5em;
            border: 0;
            background-color: $pink;
            transition-duration: 1s;
            width: 210px;
            padding: 15px 9px;
            color: white;
            font-size: 16px;
            background: linear-gradient(353deg, $purple, $pink);
            background-size: 400% 400%;
            font-weight: bold;
            -webkit-animation: AnimationName 12s ease infinite;
            -moz-animation: AnimationName 12s ease infinite;
            animation: AnimationName 12s ease infinite;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        //  ANIMATION BOUTON  

        @-webkit-keyframes AnimationName {
            0% {
                background-position: 23% 0%;
            }
            50% {
                background-position: 78% 100%;
            }
            100% {
                background-position: 23% 0%;
            }
        }
        @-moz-keyframes AnimationName {
            0% {
                background-position: 23% 0%;
            }
            50% {
                background-position: 78% 100%;
            }
            100% {
                background-position: 23% 0%;
            }
        }
        @keyframes AnimationName {
            0% {
                background-position: 23% 0%;
            }
            50% {
                background-position: 78% 100%;
            }
            100% {
                background-position: 23% 0%;
            }
        }
    }
}

//  Section footer


.footer{
    background-color:  #252525;
    padding: 2em 0 2em 0;
    .footer-group{
        margin-left: 2em;

        .footer-logo{
            width: 50%;
            height: 50%;
            filter: invert(100%);
            
        }
        .footer-link{
            text-decoration: none;
            color: white;
            .link{
                display: flex;
                flex-direction: row;
                text-align: center;
                width: 100%;
                line-height: 5px;
            }
            .icon-footer{
                color: white;
                position: relative;
                padding: 0.7em 0.5em 0 0 ;
               
            }
             #cutlery{
                    margin-left: 0.4em;
                }
   
        } 
            
    }
    
}


 