// IMPORT
@import "variable";
@import "mixins";
@import "cards";
@import "tutorial";
@import "menu-page";

* {
    font-family: Roboto, sans-serif;
}

// Header

body {
    margin: 0;
    padding: 0;
}

.loading-container {
    background-color: white;
    filter: opacity(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: loader 1.5s linear ;
    opacity: 0;
    .loading-spinner {
        display: inline-block;
        width: 80px;
        height: 80px;
        &::after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #fff;
            border-color: $mint transparent $purple transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes loader {
            0% {
              opacity: 0.8;
              z-index: 999;
            }
            80% {
              opacity: 0.8;
              z-index: 999;
            }
            100% {
              opacity: 0;
              z-index: 999;
            }
          }
    }
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 10px 0;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    @include desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin-left: 15%;
    }

    .img-logo {
        width: 150px;
        cursor: pointer;
    }
}

// NAV

.nav-location {
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    @include desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin-left: 15%;
    }
    .location-icon {
        padding-right: 0.5em;
    }
}

// Section explorer

.explorer {
    display: flex;
    justify-content: center;
    background-color: $light-gray;
    width: 100%;
    padding-bottom: 30px;
    @include desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin-left: 15%;
        border-radius: 0 0 2em 2em;
    }
   
    .contain-explorer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 77%;
        padding: 1em;
        h2 {
            margin: 0.5em;
        }
        h2,
        p {
            text-align: center;
            margin: 0.5em;
        }
        .btn-explorer {
            border-radius: 5em;
            border: 0;
            width: 215px;
            height: 55px;
            padding: 15px 9px;
            margin-top: 2em;
            color: white;
            font-size: 16px;
            background: rgb(147, 86, 220);
            background: linear-gradient(353deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            text-align: center;
            transition: 0.5s;
            display: block;
            &:hover {
                background-position: right center;
                box-shadow: rgba(50, 50, 93, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                text-decoration: none;
                opacity: 0.9;
            }
        }
    }
}

//  Section footer

.footer {
    background-color: #252525;
    padding: 2em 0 2em 0;
    @include desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin-left: 15%;
        border-radius: 2em 2em 0 0;
        position: relative;
    }
    .footer-group {
        display: flex;
        justify-content: flex-start;
        @include desktop{
            display: flex;
            flex-direction: row;
            width: 90%;
            margin-left: 2em;
        }

        .footer-logo {
            width: 50%;
            height: 50%;
            filter: invert(100%);
            font-family: "Shrikhand", cursive;
            font-size: 25px;
            @include desktop{
                width: 30%;
            }
        }
        .footer-link {
            text-decoration: none;
            color: white;
            @include desktop{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 350px;
                margin-left: 1em;
            }
    
            .link {
                display: flex;
                flex-direction: row;
                text-align: center;
                width: 100%;
                line-height: 5px;
            }
            
            .link1 {
                display: flex;
                flex-direction: row;
                text-align: center;
                width: 100%;
                line-height: 5px;
            }
            .icon-footer {
                color: white;
                position: relative;
                padding: 0.7em 0.5em 0 0;
                
            }
            #cutlery {
                margin-left: 0.4em;
                
            }
        }
    }
}
 